[submodule "vendor/hl2sdk-manifests"]
	path = vendor/hl2sdk-manifests
	url = https://github.com/alliedmodders/hl2sdk-manifests.git
[submodule "vendor/khook"]
	path = vendor/khook
	url = https://github.com/Kenzzer/KHook.git
[submodule "vendor/s2sdk"]
	path = vendor/s2sdk
	url = https://github.com/alliedmodders/s2sdk.git
	branch = cs2
	shallow = true
